{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>Bitcoin Security Model</h5>
    </div>
    <div class="card-body">
        <div class="security-item">
            <h6>Multi-Signature Setup</h6>
            <p>3-of-5 Multi-signature Configuration</p>
            <ul>
                <li>Key 1: Primary Cold Storage</li>
                <li>Key 2: Backup Location</li>
                <li>Key 3-5: Distributed Among Managing Partners</li>
            </ul>
        </div>
        <div class="security-item">
            <h6>Inheritance Planning</h6>
            <p>Documentation for succession planning</p>
        </div>
        <div class="security-item">
            <h6>Insurance Coverage</h6>
            <p>Details of digital asset insurance</p>
        </div>
    </div>
</div>
{% endblock %} 